/* The html style removes the pre-set margin, and stretches the page to all available space */
html {
  min-height: 100%;
  margin: 0;
}

/* Basic stuff like font and color */
body {
  height: 100vh;
  margin: 0;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  font-family: Arial, sans-serif;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#mainContainer {
  height: 100vh;
  width: 80dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: hsl(0, 0%, 9%);
  box-shadow: 0px 0px 0px 1px hsl(0, 0%, 14%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: absolute;
  margin-left: 40px;
  margin-right: 40px;
}

#questionContainer {
  height: 100dvh;
  width: 70dvh;
}

#answersBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 100px;
}

#questionCount {
  margin-top: 100px;
}

/* --- Buttons --- */
button {
  justify-content: center;
  align-items: center;

  padding: 10px;
  color: hsl(0, 0%, 90%);
  background-color: hsl(0, 0%, 12%);
  border: none;
  border-radius: 5px;
  cursor: pointer;

  font-family: Arial, sans-serif;
  font-size: 16px;

  transition: background-color 0.3s ease;
}

button:hover {
  background-color: hsl(0, 0%, 18%);
}

button:active {
  background-color: hsl(0, 0%, 28%);
  transition: none;
}

/* --- Correct Answer Button --- */
button.correct {
  background-color: hsl(118, 100%, 20%);

  transition: 1s linear;

  pointer-events: none;
  user-select: none;
}

/* --- Incorrect Answer Button --- */
button.incorrect {
  background-color: hsl(0, 100%, 20%);

  transition: 1s linear;

  pointer-events: none;
  user-select: none;
}

button.dismiss {
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 33%);

  transition: 1s;

  pointer-events: none;
  user-select: none;
}

#next,
#finish {
  margin-top: 120px;
  align-self: flex-end;
  margin-left: auto;

  position: absolute;
  top: 65vh;
  left: 50vh;
}

/* --- Background --- */
.background {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;

  background-color: hsl(0, 0%, 10%);
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 12.5%,
    hsl(0, 0%, 12%) 12.5%,
    hsl(0, 0%, 12.2%) 25%,
    transparent 25%,
    transparent 37.5%,
    hsl(0, 0%, 12%) 37.5%,
    hsl(0, 0%, 12.2%) 50%
  );
  background-size: 35rem 35rem;
  background-position: 0rem 0rem;
}

/* --- Other styles --- */
.fadeOut {
  animation: fadeOut 1s linear;
}

.fadeIn {
  animation: fadeIn 1s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.block {
  pointer-events: none;
  user-select: none;
}

.transparent {
  opacity: 0;
}
